h1 {  
  color: white;
  background-color: #005f99;
  text-align: center;
  text-decoration: underline;
  font-family: sans-serif;
  <!--  /* padding: 50px; */
  margin: 20px; -->
 }
 
 div {
   background-color: e6f0fa;
   padding: 10px;
   min-height: 50px;
 }
 
 
 #cats {
   background-color: 3399ff;
 }
 
 .newsletter-signup {
   text-align: center;
   background-color: white;
   border: 2px 005f99;
   padding: 20px;
   margin: 10px;
   color: 005f99;
 }
 
 ul {
   list-style-type: none;
 }
 
 img:hover {
   width: 100%;
 }
