h1 {  
  color: white;
  background-color: #4169E1;
  text-align: center;
  text-decoration: underline;
  font-family: sans-serif;
  /* padding: 50px; */
  margin: 20px;
 }
 
 div {
   background-color: lime;
   padding: 10px;
   min-height: 50px;
 }
 
 
 #cats {
   background-color: blue;
 }
 
 .newsletter-signup {
   text-align: center;
   background-color: black;
   border: 2px solid turquoise;
   padding: 20px;
   margin: 10px;
   color: white;
 }
 
 ul {
   list-style-type: none;
 }
 
 img:hover {
   width: 100%;
 }
